<!DOCTYPE html>




<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Fake News System</title>
  <link rel="stylesheet" href="../static/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<header>
	<!--<h4>REFLECTV</h4>
	<p>About</p>
	<p>Services</p>
	<p>Contact</p> -->
</header>
<div class="container">

	<div class="panel">
		<div class="front"></div>
		<div class="back"></div>
	</div>
	<div class="panel">
		<div class="front"></div>
		<div class="back"></div>
	</div>
	<div class="panel">
		<div class="front"></div>
		<div class="back"></div>
	</div>
	<div class="panel">
		<div class="front"></div>
		<div class="back"></div>
	</div>
</div>
<div class="layer">
	<h1>FAKE NEWS <span>DETECTION</span> SYSTEM</h1>
    <h2 id="insert-heading">Insert your news</h2>
	<div class="form-wrapper">
		<form action="/predict" method="post">
		  <textarea id="message" name="message" rows="10" cols="350"></textarea><br>
		  <button type="button" id="recordButton">Record Voice</button>
		  <input type="submit" value="Predict">
		</form>
	  </div>
  </div>

  <div class="layer1">
    <h1>ENTER OR TELL <span>YOUR</span> NEWS</h1>
  
  

</div>
<footer>
	<div class="replay">REPLAY</div>
	 <a href="https://dribbble.com/shots/3911960-Reflet-Communication" target="blank">
</footer>
<!-- partial -->
<script src='https://unpkg.co/gsap@3/dist/gsap.min.js'></script><script  src="../static/script.js"></script>


  



</body>
</html>
